@charset "UTF-8";
/*FUENTES*/
@import "https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Bebas+Neue&family=Merriweather:wght@300&family=Mukta&family=Playfair+Display&display=swap";
.contenedorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 1rem; }

.imgGrid img {
  width: 100%;
  height: auto; }

.imgGrid:hover {
  filter: saturate(200%) drop-shadow(5px 5px 10px #000); }

.bodyPadreGrid {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  grid-template-areas: "header " "carr " "val " "main " "news " "footer"; }

.header {
  grid-area: header; }

#carouselExampleControls {
  grid-area: carr; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: #f2ccc3ff;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive; }

.top {
  background-color: #c7fc36ff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px; }
  .top img {
    height: 25px;
    width: auto;
    padding: 3px 0px 0px 15px; }
  .top p {
    padding: 15px 0rem 0rem;
    font-size: large;
    padding-left: 40%;
    animation: top 10s linear 1s infinite normal none; }

.middle {
  display: flex;
  flex-wrap: row nowrap;
  height: auto;
  padding: 0.5rem 0 0.5rem 0;
  max-width: 90%; }

.busquedaHeader {
  height: auto;
  align-self: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 5rem;
  margin-left: -20rem; }

.inputB {
  display: flex;
  align-items: center; }
  .inputB input {
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 0;
    font-family: 'Merriweather', serif; }
  .inputB svg {
    width: 25px;
    margin-left: -35px; }

.logo {
  text-align: center !important; }
  .logo img {
    width: 80%; }

.lupa {
  display: none; }

#nav {
  width: 100%;
  background-color: #f2ccc3ff !important;
  height: auto;
  padding-bottom: 0.5rem;
  padding-left: 15%; }
  #nav ul li {
    display: inline-block;
    font-size: 22px;
    padding-left: 45px;
    padding-right: 45px; }

.nav-link {
  color: white !important; }
  .nav-link:hover {
    color: #c7fc36ff !important; }

footer {
  background-color: #f2ccc3ff;
  width: auto;
  height: 8.5rem;
  padding: 10px 10px 20px 10px; }
  footer h4 {
    font-family: "Merriweather", serif;
    font-size: 17px;
    text-align: center;
    color: white; }
  footer p {
    font-family: "Bebas Neue", cursive;
    font-size: 1.25rem;
    color: black !important;
    margin: 10px;
    text-align: center; }

.newsletter {
  height: 11rem;
  width: 100%;
  margin: 0.25rem 0 0.5rem 0;
  background-color: #c7fc36ff;
  padding: 1rem 0rem 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  grid-area: news; }
  .newsletter h3 {
    color: black;
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    animation: newsLetter 10s ease 0s infinite alternate both; }
  .newsletter p {
    font-size: 1.25rem;
    font-family: "Merriweather", serif; }

.input {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem; }
  .input input {
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center !important;
    border: 0;
    font-family: "Merriweather", serif; }
  .input svg {
    width: 25px;
    margin-left: -30px;
    z-index: 0; }

.estiloHache1, main h1 {
  text-align: center;
  text-shadow: 0.1em 0.1em 0.4em white;
  font-family: "Bebas Neue", cursive; }

/*ANIMACIONES Y TRANCISIONES*/
@keyframes top {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px); }
  20%, 40%, 60% {
    transform: translateX(10px); }
  80% {
    transform: translateX(8px); }
  90% {
    transform: translateX(-8px); } }

@keyframes newsLetter {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0; }
  10% {
    transform: rotate(2deg); }
  20%, 40%, 60% {
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    transform: rotate(4deg); }
  80% {
    transform: rotate(-2deg); }
  90% {
    transform: rotate(2deg); } }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 13.5rem 0 0 0;
  width: 100%; }

/*Eliminar valores preestablecidos de los links*/
a:link {
  text-decoration: none;
  color: white; }

a:visited {
  text-decoration: none;
  color: white; }

a:active {
  text-decoration: none;
  color: white; }

/*Botón de WhatsApp*/
.whatsapp {
  position: fixed;
  right: 25px;
  bottom: 20px;
  z-index: 999; }
  .whatsapp img {
    width: 60px;
    height: 60px; }
  .whatsapp:hover {
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important; }

/*MAIN*/
main h1 {
  color: black;
  font-size: 1.75rem;
  background-color: #c7fc36ff; }

/*INDEX*/
.valoresPadre {
  background-color: #ebd8dcff;
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  height: 6rem;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  grid-area: val; }

.valoresHijo {
  background-color: white;
  border: 1px #c7fc36ff solid;
  width: 16rem;
  height: 4.5rem; }
  .valoresHijo p {
    color: black;
    text-align: center;
    font-size: 2rem;
    padding-left: 60px;
    position: relative;
    bottom: 3.75rem; }
  .valoresHijo img {
    width: 27%;
    padding-left: 0.5rem;
    bottom: 5px; }

.partesIndex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center; }

.seccionIndex {
  background-color: #f2ccc3ff;
  width: 100%;
  height: 8rem;
  text-align: center;
  color: #c7fc36ff;
  text-shadow: 0.1em 0.1em 0.4em white; }
  .seccionIndex h1 {
    font-size: 4rem; }
  .seccionIndex h2 {
    font-size: 4rem !important;
    font-family: "Bebas Neue", cursive; }
  .seccionIndex p {
    font-size: 1rem;
    color: black;
    font-family: "Merriweather", serif; }

.productosIndex {
  background-color: #ebd8dcff;
  margin: 0.25rem 0 0.25rem 0;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Merriweather", serif; }
  .productosIndex img {
    width: 30%;
    box-shadow: 0.2em 0.2em 0.2em #cec3c3;
    border-radius: 3rem;
    border: 3px dotted #c7fc36ff;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
    .productosIndex img:hover {
      height: 32%;
      width: 32%;
      transition: width 0.5s linear 0s, height 0.5s linear 0s; }

.botonPadre {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem; }

.botonHijo {
  text-align: center; }
  .botonHijo a {
    margin-left: 9.75rem;
    margin-right: 9.75rem;
    background: #ebd8dcff;
    width: 125px;
    border: 1px solid #c7fc36ff;
    padding: 10px;
    background-color: white;
    color: #f2ccc3ff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    border-radius: 50px; }

.descripcionProd {
  background-color: #ebd8dcff;
  width: 100%;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5rem; }

/*CONTACTO*/
.contenedorF {
  width: 19rem;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ebd8dcff;
  font-family: "Bebas Neue", cursive;
  max-width: 90%; }
  .contenedorF form {
    border: none;
    max-width: 90%;
    margin-left: 0.5rem; }
    .contenedorF form fieldset {
      display: block;
      margin-inline-start: 2px;
      margin-inline-end: 2px;
      padding-block-start: 0.35em;
      padding-inline-start: 0.75em;
      padding-inline-end: 0.75em;
      padding-block-end: 0.625em;
      min-inline-size: min-content;
      border-width: 1px;
      border-style: none;
      border-color: #f2ccc3ff;
      border-image: initial; }
      .contenedorF form fieldset input {
        border: 1px solid #c7fc36ff;
        border: 1px #c7fc36ff dotted;
        font-family: "Merriweather", serif;
        font-size: 12px;
        background-color: #f3f0f0;
        max-width: 90%;
        margin-left: 0.25rem; }
      .contenedorF form fieldset textarea {
        width: auto;
        background-color: white;
        border-radius: 15px;
        border: 0;
        font-family: "Merriweather", serif;
        border: 1px #c7fc36ff dotted;
        max-width: 80%; }

/*UBICACIÓN*/
#mainUbicacion {
  background-color: #ebd8dcff;
  width: 100%;
  height: auto; }

.ubicacion {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .ubicacion iframe {
    max-width: 90%; }
  .ubicacion p {
    font-family: "Bebas Neue", cursive;
    font-size: 1.25rem;
    color: black !important;
    margin: 10px;
    text-align: center; }
  .ubicacion h1 {
    width: 100%; }

/*FAQ*/
#mainP {
  width: auto;
  background-color: #ebd8dcff;
  padding: 10px; }

.preguntas {
  width: 90%;
  margin: 0 auto; }

ol li {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  margin: 0.75rem; }

/*CARRITO*/
/*Medias Queries: Responsive*/
@media screen and (max-width: 1135px) {
  .btnWhatsapp {
    max-width: 90%; } }

@media screen and (max-width: 900px) {
  body {
    margin: 0 auto; }
  .top {
    display: none; }
  .busquedaHeader {
    width: 50px;
    margin: 5px;
    margin-right: 10rem; }
  .logo img {
    width: 60%; }
  #nav {
    max-width: 90%;
    justify-content: center !important; }
    #nav ul li {
      padding-left: 10px;
      padding-right: 10px;
      font-size: large; }
  .botonPadre {
    display: none; } }

@media screen and (max-width: 830px) {
  body {
    width: 100%;
    margin-top: -3.75rem; }
  .valoresHijo p {
    font-size: 1.5rem;
    padding-top: 17px; }
  .botonPadre {
    display: none; } }

@media screen and (max-width: 650px) {
  body {
    size: 100%;
    margin-top: -2rem; }
  .logo img {
    width: 80%; }
  .nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium; }
  .botonPadre {
    display: none; }
  .valoresHijo p {
    font-size: 1.4rem;
    padding-top: 2rem; }
  .botonPadre {
    display: none; } }

@media screen and (max-width: 564px) {
  body {
    width: 100%;
    margin-top: -3rem; }
  .logo img {
    width: 70%; }
  .busquedaHeader {
    display: none; }
  .inputB {
    display: none; }
  .lupa {
    width: 3.5rem;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px; }
  .valoresHijo p {
    font-size: 1.5rem;
    padding-top: 10px; }
  #nav {
    justify-content: flex-start;
    margin-left: -10px; }
  .foto1 {
    display: none; }
  .foto3 {
    display: none; }
  .foto2 {
    width: 100%;
    margin: 0 auto; }
  #carouselExampleControls {
    height: auto; }
  .valoresPadre {
    display: block;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .valoresHijo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 0 auto; }
  .seccionIndex {
    height: auto;
    padding-bottom: 0.5rem; }
  .productosIndex img {
    display: block;
    width: 95%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .botonPadre {
    display: none; }
  .contenedorGrid {
    justify-content: center; }
  .newsletter {
    height: auto; }
  .contenedorF {
    justify-content: flex-start; } }

@media screen and (max-width: 410px) {
  body {
    width: 100%;
    margin-top: -4rem; }
  .formulario {
    max-width: 90%; }
  h1 {
    font-size: 20px !important;
    padding-top: 0.5gitrem; } }

@media screen and (max-width: 378) {
  body {
    width: 101%;
    margin-top: -5rem; }
  .formulario {
    max-width: 90%; }
  h1 {
    font-size: 20px !important;
    padding-top: 0.5gitrem; } }

@media screen and (max-width: 330px) {
  body {
    width: 101%;
    margin-top: -4.25rem; }
  .formulario {
    max-width: 90%; }
  h1 {
    font-size: 20px !important;
    padding-top: 0.5rem; } }
