/*FUENTES*/
@import "https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Bebas+Neue&family=Merriweather:wght@300&family=Mukta&family=Playfair+Display&display=swap";

@import "variables", "grid", "header", "footer", "newsletter", "maps", "mixin", "extend";

/*ANIMACIONES Y TRANCISIONES*/

@keyframes top {
	0%,100% {
		transform: translateX(0);
	}
	10%,30%,50%,70% {
		transform: translateX(-10px);
	}
	20%,40%,60% {
		transform: translateX(10px);
	}
	80% {
		transform: translateX(8px);
	}
	90% {
		transform: translateX(-8px);
	}
}
@keyframes newsLetter {
	0%,100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}
	10% {
		transform: rotate(2deg);
	}
	20%,40%,60% {
		transform: rotate(-4deg);
	}
	30%,50%,70% {
		transform: rotate(4deg);
	}
	80% {
		transform: rotate(-2deg);
	}
	90% {
		transform: rotate(2deg);
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
    padding: 13.5rem 0 0 0;
	width: 100%;
}

/*Eliminar valores preestablecidos de los links*/

a {
	&:link {
		text-decoration: none;
		color: white;
	}
	&:visited {
		text-decoration: none;
		color: white;
	}
	&:active {
		text-decoration: none;
		color: white;
	}
}

/*Botón de WhatsApp*/

.whatsapp {
	position: fixed;
	right: 25px;
	bottom: 20px;
	z-index: 999;
	img {
		width: 60px;
		height: 60px;
	}
	&:hover {
		opacity: 0.7 !important;
		filter: alpha(opacity=70) !important;
	}
}

/*MAIN*/

.main {
	h1 {
			color: map-get($estiloH1, color);
			font-size: map-get($estiloH1,tamFuente);
		@extend .estiloHache1;
	}

}

/*INDEX*/

.valoresPadre {
	background-color: $lila;
	margin: 0.5rem 0 0.5rem 0;
	width: 100%;
	height: 6rem;
	font-family: $bebas;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	grid-area: val;
}
.valoresHijo {
	background-color: white;
	border: 1px $verde solid;
	width: 16rem;
	height: 4.5rem;
	p {
		color: black;
		text-align: center;
		font-size: 2rem;
		padding-left: 60px;
		position: relative;
		bottom: 3.75rem;
	}
	img {
		width: 27%;
		padding-left: 0.5rem;
		bottom: 5px;
	}
}
.partesIndex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
}
.seccionIndex {
	background-color: #f2ccc3ff;
	width: 100%;
	height: 8rem;
	text-align: center;
	color: $verde;
	text-shadow: 0.1em 0.1em 0.4em rgb(255, 255, 255);
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 4rem !important;
		font-family: $bebas;
	}
	p {
		font-size: 1rem;
		color: black;
		font-family: $merri;
	}
}
.productosIndex {
	background-color: $lila;
	margin: 0.25rem 0 0.25rem 0;
	width: 100%;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	font-family: $merri;
	img {
		width: 30%;
		box-shadow: 0.2em 0.2em 0.2em rgb(206, 195, 195);
		border-radius: 3rem;
		border: 3px dotted $verde;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		&:hover {
			height: 32%;
			width: 32%;
			transition: width 0.5s linear 0s, height 0.5s linear 0s;
		}
	}
}

.botonPadre {
	margin-bottom: 0.75rem;
	margin-top: 1.5rem;
}

.botonHijo {
	text-align: center;
	a {
		margin-left: 9.75rem;
		margin-right: 9.75rem;
	background: $lila;
	width: 125px;	
	border: 1px solid $verde; /*anchura, estilo y color borde*/
	padding: 10px; /*espacio alrededor texto*/
	background-color: white; /*color botón*/
	color: $rosa; /*color texto*/
	text-decoration: none; /*decoración texto*/
	text-transform: uppercase; /*capitalización texto*/
	font-family: $bebas; /*tipografía texto*/
	border-radius: 50px; /*bordes redondos*/
}
}

.descripcionProd {
	background-color: $lila;
	width: 100%;
	font-family: $merri;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 0.5rem;
}

/*CONTACTO*/

.contenedorF {
	width: 19rem;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: $lila;
	font-family: $bebas;
	max-width: 90%;
 	form {
		border: none;
		max-width: 90%;
			fieldset {
			display: block;
			margin-inline-start: 2px;
			margin-inline-end: 2px;
			padding-block-start: 0.35em;
			padding-inline-start: 0.75em;
			padding-inline-end: 0.75em;
			padding-block-end: 0.625em;
			min-inline-size: min-content;
			border-width: 1px;
			border-style: none;
			border-color: $rosa;
			border-image: initial;
				input {
				border: 1px solid $verde;
				border: 1px $verde dotted;
				font-family: $merri;
				font-size: 12px;
				background-color: rgb(243, 240, 240);
				max-width: 90%;
				margin-left: 0.25rem;
		}
				textarea {
			width: auto;
			background-color: white;
			border-radius: 15px;
			border: 0;
			font-family: $merri;
			border: 1px $verde dotted;
			max-width: 80%;
		}
		}
}
}

/*UBICACIÓN*/
#mainUbicacion {
	background-color:$lila;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}
.ubicacion {
	margin: 10px;
		iframe {
		max-width: 95%;
	}
	p {
		@include parrafos;
	}
}

/*FAQ*/
#mainP {
	width: auto;
	background-color: $lila;
	padding: 10px;
}
.preguntas {
	width: 90%;
	margin: 0 auto;
	}
	ol {
		li {
			font-family: $merri;
			font-size: 1rem;
			margin: 0.75rem;
		}
	}

/*CARRITO*/


/*Medias Queries: Responsive*/
@media screen and (max-width:1135px) {
    .btnWhatsapp {
        max-width: 90%;
    }
}

@media screen and (max-width:900px) {
	body {
		margin: 0 auto;
	}
	.top {
		display: none;
	}
	.busquedaHeader {
		width: 50px;
		margin: 5px;
		margin-right: 10rem;
	}
	.logo {
		img {
			width: 60%;
		}
	}
	#nav {
		max-width: 90%;
		justify-content: center !important;
		ul {
			li {
				padding-left: 10px;
				padding-right: 10px;
				font-size: large;
			}
		}
	}
	.botonPadre {
		display: none;
	}
}

	@media screen and (max-width:830px) {
		body {
             width: 100%;
			 margin-top: -3.75rem;
            }
        .valoresHijo {
            p {
                font-size: 1.5rem;
                padding-top: 17px;
            }
        }
    	.botonPadre {
			display: none;
		}

	}


@media screen and (max-width:650px) {
    body {
        size: 100%;
		margin-top: -2rem;
    }
    .logo {
		img {
			width: 80%;
		}
	}
	.nav {
		ul {
			li {
				padding-left: 10px;
				padding-right: 10px;
				font-size: medium;
			}
		}
	}
	.botonPadre {
		display: none;
	}

    .valoresHijo {
        p {
            font-size: 1.4rem;
            padding-top: 2rem;
        }
    }
	.botonPadre {
		display: none;
	}
}

@media screen and (max-width:564px) {
	body {
		width: 100%;
		margin-top: -3rem;
	}
	.logo {
		img {
			width: 70%;
		}
	}
	.busquedaHeader {
		display: none;
	}
	.inputB {
		display: none;
	}
	.lupa {
		width: 3.5rem;
		height: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-right: 10px;
		padding-left: 10px;
	}
    .valoresHijo {
        p {
            font-size: 1.5rem;
            padding-top: 10px;
        }
    }
	#nav {
		justify-content: flex-start;
		margin-left: -10px;
	}
	.foto1 {
		display: none;
	}
	.foto3 {
		display: none;
	}
	.foto2 {
		width: 100%;
		margin: 0 auto;
	}
	#carouselExampleControls {
		height: auto;
	}
	.valoresPadre {
		display: block;
		height: auto;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.valoresHijo {
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin: 0 auto;
	}
	.seccionIndex {
		height: auto;
		padding-bottom: 0.5rem;
	}
	.productosIndex {
		img {
			display: block;
			width: 95%;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
	.botonPadre {
		display: none;
	}
	.contenedorGrid {
		justify-content: center;
	}
	.newsletter {
		height: auto;
	}
	.contenedorF {
		justify-content: flex-start;
	}
}

@media screen and (max-width:410px) {
	body {
		width: 100%;
		margin-top: -4rem;
	}
	.formulario {
		max-width: 90%;
	}
}

@media screen and (max-width:319px) {
	body {
		width: 101%;
		margin-top: -4rem;
	}
	.formulario {
		max-width: 90%;
	}
	
}